<!DOCTYPE html>
<html>
<head>
<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/core-ajax/core-ajax.html">
<link rel="import" href="../lib/core-list/core-list.html">
<link rel="import" href="../lib/firebase-element/firebase-element.html">
</head>
<body>
<!-- <core-list data="{{data}}" height="80">
  <template>
    <div class="{{ {selected: selected} | tokenList }}">
      List row: {{index}}, User data from model: {{model.name}}
      <input type="checkbox" checked="{{model.checked}}">
    </div>
  </template>
</core-list> -->
<polymer-element name="test-element">
	<template>
	<core-ajax auto url="https://amber-heat-9947.firebaseio.com/checkpoints/1/checkins.json" response="{{response}}"></core-ajax>
	<firebase-element id="base" location="https://amber-heat-9947.firebaseio.com/checkpoints/1/checkins" data="{{data}}" keys="{{keys}}"></firebase-element>
		<span>{{ response['-JYgfIv4nDiu9MpyKk4m'].user.uni_auth }}</span>
	    <ul>
		  	<template repeat="{{key in keys}}">
			  	<p>{{data[key].user.uni_auth}}</p>
			</template>
	    </ul>
	</template>
	<script>
		Polymer('test-element', {
			items : [
			    {
			        "created_at": "2014-10-07T22:12:33.038Z",
			        "user": {
			            "uni_auth": "oalabi4",
			            "user_id": "11"
			        }
			    },
			    {
			        "created_at": "2014-10-07T22:12:33.038Z",
			        "user": {
			            "uni_auth": "hgascoigne2",
			            "user_id": "1"
			        }
			    }
			]
		});	
	</script>
</polymer-element>

<test-element></test-element>

</body>
</html>