button {
	background-color: @tertiary;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: @lineHeight/2;

	&.button-brand {
		background-color: @brand;
	}

	&.button-error {
		background-color: @error;
	}

	&.button-success {
		background-color: @success;
	}

	&.button-secondary {
		background-color: @muted;
	}
}