<unl-toolbar>
  	<unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
	<a ng-click="go('/', 'animate-slide-left')" title="Back to Apps"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
  	<span flex class="align-center">{{app.title || 'Loading'}}</span>
  	<a ng-href="{{app.url}}" title="Open App" target="_blank"><unl-icon-button icon="launch"></unl-icon-button></a>
</unl-toolbar>
<div class="content-container">
	<unl-empty-content ng-hide="app" text="Loading"></unl-empty-content>
	<!-- App Settings -->
	<form id="appSettingsForm" ng-update="updateApp()">
		<unl-list-group ng-show="app">
			<unl-list-item-header>General</unl-list-item-header>
			<unl-list-item-label heading="Title">
				<div class="tools" flex five>
					<input required type="text" name="app-title" ng-model="app.title" ng-model-options="{ debounce: 500 }">
				</div>
			</unl-list-item-label>
			<unl-list-item-label heading="Description">
				<div class="tools" flex five>
					<input required type="text" name="app-description" ng-model="app.description" ng-model-options="{ debounce: 500 }">
				</div>
			</unl-list-item-label>
			<unl-list-item-label heading="URL" label="Full URL to your app's main page. Include http(s)://">
				<div class="tools" flex five>
					<input required type="text" name="app-url" ng-model="app.url" ng-model-options="{ debounce: 500 }" placeholder="http://">
				</div>
			</unl-list-item-label>
			<unl-list-item-header>Security</unl-list-item-header>
			<unl-list-item-label heading="API Key">
				<div class="tools">
					<span class="small">{{app.api_key}}</span>
				</div>
			</unl-list-item-label>
			<unl-list-item-label heading="API Secret">
				<div class="tools">
					<span class="small">{{app.api_secret}}</span>
				</div>
			</unl-list-item-label>
			<unl-list-item-label heading="Authentication Token" label="This key is used to encrypt and decrypt JWTs that are returned when authenticating with Hyena.">
				<div class="tools" flex five>
					<input required type="text" name="app-token_key" ng-model="app.token_key" ng-model-options="{ debounce: 500 }">
				</div>
			</unl-list-item-label>
		</unl-list-group>
	</form>
	<!-- End App Settings -->
</div>