<unl-toolbar horizontal layout>
	<unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
	<a ng-href="/{{group}}" title="Back to Checkpoints"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
  	<span flex class="align-center">{{checkpoint.title}}</span>
</unl-toolbar>
<!-- Check in Form -->
<div class="content-container">
	<form ng-submit="checkinUser()" horizontal layout>
		<input ng-model="checkinNcard" autocomplete="off" class="auto-focus ncard-input" type="text" name="ncard-input" value="" placeholder="Enter your NUID" pattern="[0-9]*" flex ten>
		<button>Check In</button>
	</form>
</div>
<!-- End Check in Form -->
<!-- Checkins -->
<div class="content-container" flex>
	<unl-empty-content ng-hide="checkpoint.checkins" text="No checkins yet"></unl-empty-content>
	<unl-list-group ng-show="checkpoint.checkins">
		<unl-list-item-header label="Past Checkins"></unl-list-item-header>
		<unl-list-item-label image="{{ checkin.user.profile_image }}" heading="{{ checkin.user.first_name ? checkin.user.first_name +' '+ checkin.user.last_name : checkin.user }}" label="{{ checkin.created_at | amDateFormat:'MMMM Do YYYY, h:mm A' }}" ng-repeat="checkin in checkpoint.checkins | orderBy:'created_at':true"></unl-list-item-label>
	</unl-list-group>
</div>
<!-- End Checkins -->