<unl-toolbar horizontal layout>
  <unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
  <span flex class="align-center">Checkpoints</span>
</unl-toolbar>
<!-- Checkpoints -->
<div class="content-container">
  <unl-list-group>
    <unl-list-item-label ng-repeat="checkpoint in checkpoints | orderBy:'title' " heading="{{ checkpoint.title }}" link>
      <a ng-href="/{{groupId}}/checkpoint/{{checkpoint.$id}}"></a>
      <div class="tools">
        <unl-icon-button icon="remove-circle-outline" ng-click="removeCheckpoint('{{checkpoint.$id}}')" class="color-error"></unl-icon-button>
      </div>
    </unl-list-item-label>
    <unl-list-item ng-show="groupId">
      <form ng-submit="addCheckpoint()" horizontal layout>
        <input is="core-input" type="text" placeholder="My Checkpoint Name" name="checkpoint-title" ng-model="checkpointTitle" flex ten>
        <button type="submit">Add</button>
      </form>
    </unl-list-item>
  </unl-list-group>
</div>
<!-- End Checkpoints -->