<unl-toolbar>
  <unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
  <span flex class="align-center" ng-if="groupId">Checkpoints</span>
  <span flex class="align-center" ng-if="!groupId">Groups</span>
</unl-toolbar>
<div class="content-container" ng-hide="groupId">
  <!-- Group List -->
  <unl-list-group>
    <unl-list-item-label ng-repeat="group in currentUser.groups | orderBy:'title'" heading="{{group.title}}" link><a ng-href="/{{group.id}}"></a></unl-list-item-label>
  </unl-list-group>
  <!-- End Group List -->
</div>
<!-- Checkpoints -->
<div class="content-container" ng-show="groupId">
  <!-- Checkpoint List -->
  <unl-empty-content ng-show="checkpoints.length == 0" text="No checkpoints yet"></unl-empty-content>
  <unl-list-group>
    <unl-list-item-label ng-repeat="checkpoint in checkpoints | orderBy:'title' " heading="{{ checkpoint.title }}" link>
      <a ng-href="/{{groupId}}/checkpoint/{{checkpoint.$id}}"></a>
      <div class="tools">
        <unl-icon-button icon="remove-circle-outline" ng-click="confirmRemoveCheckpoint('{{checkpoint.$id}}')" class="color-error"></unl-icon-button>
      </div>
    </unl-list-item-label>
    <unl-list-item ng-show="groupId">
      <form ng-submit="addCheckpoint()" horizontal layout>
        <input required is="core-input" type="text" placeholder="My Checkpoint Name" name="checkpoint-title" ng-model="checkpointTitle" flex ten>
        <button type="submit">Add</button>
      </form>
    </unl-list-item>
  </unl-list-group>
  <!-- End Checkpoint List -->
</div>
<!-- End Checkpoints -->
<div id="modal-checkpoint-delete" hidden ng-include src="'views/partials/modal-checkpoint-delete.html'"></div>