<unl-toolbar>
  <unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
  <span flex class="align-center">Checkpoints</span>
  <a ng-click="go('/{{groupId}}/checkpoint/new')" ng-show="groupId" title="Create New Checkpoint"><unl-icon-button icon="add"></unl-icon-button></a>
</unl-toolbar>
<unl-progress indeterminate ng-hide="checkpoints || !groupId" class="animate-fade-out"></unl-progress>
<!-- Group List -->
<div class="content-container" ng-hide="groupId">
  <unl-list-group>
    <unl-list-item-label class="animate-fade-left" ng-repeat="group in currentUser.groups | orderBy:'title'" heading="{{group.title}}" link>
      <a ng-href="/{{group.id}}"><paper-ripple fit></paper-ripple></a>
    </unl-list-item-label>
  </unl-list-group>
</div>
<!-- End Group List -->
<div class="content-container" ng-show="groupId">
  <unl-empty-content fit ng-hide="checkpoints.length > 0" text="No checkpoints Yet">
    <span subhead>Add your first checkpoint by hitting <core-icon icon="add"></core-icon> above</span>
  </unl-empty-content>
  <unl-list-group>
    <unl-list-item-label class="animate-fade-left" ng-repeat="checkpoint in checkpoints | orderBy:'title'" heading="{{checkpoint.title}}" link>
      <a ng-click="go('/{{groupId}}/checkpoint/{{checkpoint.$id}}')"><paper-ripple fit></paper-ripple></a>
    </unl-list-item-label>
  </unl-list-group>
</div>
