<unl-toolbar>
	<a ng-click="go('/{{groupId}}', 'animate-slide-left')" title="Back to Checkpoints"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
	<span flex class="align-center">{{ checkpoint.title || 'New Checkpoint' }}</span>
</unl-toolbar>
<div class="content-container">
	<!-- checkpoint Settings -->
	<form name="newCheckpointForm" ng-submit="createCheckpoint()">
		<unl-list-group>
			<unl-list-item-details heading="Title">
				<div class="tools">
					<input required type="text" name="checkpoint-title" ng-model="checkpoint.title">
				</div>
			</unl-list-item-details>
			<unl-list-item-details heading="Non-Member Check In" details="Should non-members be allowed to check in?">
				<div class="tools">
					<unl-toggle-button id="allow-non-members" value="{{checkpoint.non_members}}" bind-polymer></unl-toggle-button>
				</div>
			</unl-list-item-details>
			<unl-list-item-details heading="Add Non-Members to Group" details="Should non-members be added to the group?">
				<div class="tools">
					<unl-toggle-button id="add-to-group" value="{{checkpoint.add_to_group}}" bind-polymer></unl-toggle-button>
				</div>
			</unl-list-item-details>
		</unl-list-group>
		<button type="submit" ng-disabled="newCheckpointForm.$invalid">Create Checkpoint</button>
	</form>
	<!-- End checkpoint Settings -->
</div>